@page
@model total_test_1.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-2">About</h1>
</div>
    <img class="aboutbanner" src="~/Assets/About1.jpg" alt="CWI Building" />
<div class="text-center">
    <div class="mt-4 p-5">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-fluid rounded" src="~/Assets/About2.jpg" alt="Scott" width="350" />
        </div>
        <div class="col-sm-6">
            <h3>Learn About Scott</h3>
            <p>Meet Scott Didriksen an entrepreneur known for his candy store and Italian restaurants around the Boise area. After successfully making those dreams of his come true he decided to move on to his third dream running a collision repair and paint business. Like his other stores <i>Scott's Auot Repair</i> is quality guaranteed.</p>
            <h3>Contact Info</h3>
            <p>9100 W. Black Eagle Drive, Boise, ID 83709</p>
            <p>Phone: 208.562.3000</p>
            <p>Email: scottdidriksen@cwi.edu</p>
            <p>Mail: MS 2000, P.O. Box 3010, Nampa ID 83653</p>
        </div>
    </div>
    </div>
    
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2889.709433926945!2d-116.29931047382645!3d43.59176827110513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x54ae56f7c15d7075%3A0xf175e97977714818!2sCollege%20of%20Western%20Idaho%3A%20Ada%20County%20Center%20Mallard%20Building%2C%209100%20W%20Black%20Eagle%20Dr%2C%20Boise%2C%20ID%2083709!3m2!1d43.592408!2d-116.29533099999999!5e0!3m2!1sen!2sus!4v1730127188406!5m2!1sen!2sus" width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <a href="https://maps.app.goo.gl/uK4pbUvg1hsL9BtT6" class="btn btn-secondary">Get Directions</a>
</div>

