@page
@model total_test_1.Pages.AdminModel
@{
    ViewData["Title"] = "Admin Page";
}

<body>
	<div class="text-center">
		<h1 class="display-2">View Schedule - Admin</h1>
	</div>
	<hr />
	<div class="text-center container d-flex justify-content-center">
			<form>
				<div class="mb-3">
					<input type="date" class="form-control pe-4 ps-4" id="dateEntry" />
					<div class="form-text">Today - 10/16/24</div>
				</div>
			</form>
	</div>
	<div class="container d-flex justify-content-center mt-5">
		<a href="#" class="me-5 pe-5 ps-5 btn btn-primary">Delete</a>
		<a href="#" class="ms-5 btn btn-primary">Add An Appointment</a>
	</div>
	<div class="text-center mt-5">
		<h2>Scott Didriksen</h2>
		<p>5500 E. Opportunity Dr. Nampa, ID 83687<br />
		   Phone: 208.562.3000<br />
		   Email: scottdidriksen@cwi.edu<br />
		   Mail: MS 2000, P.O. Box 3010, Nampa ID 83653
		</p>
	</div>
</body>
