@page
@model total_test_1.Models.Schedule.Appointment

@{
    ViewData["Title"] = "Appointments Page";
}

<head><title>Appointments</title></head>
<body>
    <h1 class="text-center">Schedule an Appointment!</h1>
    <br />

    <p class="text-center">Please fill out the form below with your information and choose an available appointment time.</p>
    <br />

<!-- The form for scheduling an appointment -->
<form id="appointmentForm" class="mx-auto w-50" asp-action="AddAppointment" method="post">

    <div class="d-flex flex-wrap justify-content-between">
            <div class="form-group">
                <label class="form-label" asp-for="Date"></label> <input class="form-control" type="date" asp-for="Date" />
            </div>

            <div class="form-group">
                <label class="form-label" asp-for="Time" for="times"></label>
                <select class="form-select" name="times" id="time" asp-for="Time">
                    <option>10:00 AM</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId" class="form-label">Type of Service:</label>
                <select asp-for="CategoryId" class="form-select">
                </select> 
            </div>
    </div> <br />

    <div class="form-group">
            <label asp-for="Customer.FirstName" class="form-label">First Name: </label><input asp-for="Customer.FirstName" class="form-control" type="text" /> <br />
    </div>

    <div class="form-group">
            <label asp-for="Customer.LastName" class="form-label">Last Name: </label><input asp-for="Customer.LastName"  class="form-control" type="text" /> <br />
    </div>
      
    <div class="form-group">
            <label asp-for="Customer.Email" class="form-label">Email Address: </label><input asp-for="Customer.Email" class="form-control" type="text" /> <br />
    </div>

    <div class="form-group">
            <label asp-for="Customer.PhoneNumber" class="form-label">Phone number: </label><input asp-for="Customer.PhoneNumber" class="form-control" type="text" /> <br />
    </div>

    <div class="d-flex justify-content-between">
        <button class="btn btn-primary">Clear</button>
        <button class="btn btn-primary">Submit</button>
    </div>
</form>

</body>



