@page
@model total_test_1.Pages.AppointmentsModel
@{
    ViewData["Title"] = "Appointments Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Appointments</title></head>
    <body>

    <h1>Schedule an Appointment!</h1>

    <p>Inster filler info here</p>

    <!-- The form for scheduling an appointment -->
    <form>
        <asp:Calander id="Calender1" runat="server" Height="263px" Width="283px"></asp:Calander>

        <label>First Name: </label><input type="text"/> <br/>

        <label>Last Name: </label><input type="text" /> <br/>

        <label>Email Address: </label><input type="text" /> <br/>

        <label>Phone number: </label><input type="text" /> <br/>


        <button>Clear</button>
        <button>Submit</button>
    </form>

    </body>
</html>


