@page
@model total_test_1.Pages.AppointmentsModel
@{
    ViewData["Title"] = "Appointments Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Appointments</title></head>
    <body>

    <h1>Schedule an Appointment!</h1>

    <asp:Calander id="Calender1" runar="server" Height="263px" Width="283px"></asp:Calander>

    </body>
</html>


