@page
@model total_test_1.Pages.CollisionModel
@{
	ViewData["Title"] = "Collision repair page";
}

<body>
	<div class="text-center">
		<h1 class="display-2">Collision Repair</h1>
	</div>
    <div class="d-flex justify-content-around">
        <div class="card mx-2 mt-5">
            <img src="Assets/image1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fender Benders</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card mx-2 mt-5">
            <img src="Assets/image2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">T-Bone</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card mx-2 mt-5">
            <img src="Assets/image3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">On the brink of total...</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="text-center mt-5">
        <a href="#" class="btn btn-primary">Book an appointment now</a>
    </div>
</body>