@page
@model CollisionRepairModel
@{
    ViewData["Title"] = "Collision Repair Page";
}

<<<<<<< HEAD

=======
>>>>>>> origin/main
<body>
    <div class="text-center">
        <h1 class="display-2">Collision Repair</h1>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="Assets/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fender Benders</h5>
                        <p class="card-text">
                            Dinged your door or had a little fender bender? We can fix it! Click on the
                            appointment button below to schedule a preliminary diagnostic and estimate.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="Assets/image2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">T-Bone</h5>
                        <p class="card-text">
                            T-boned and don't know what to do? Bring it to us! We can fix it! Click on the
                            appointment button below to schedule a preliminary diagnostic and estimate.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="Assets/image3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">On the brink of total...</h5>
                        <p class="card-text">
                            Do you feel your car is totalled? We can fix it! Click on the
                            appointment button below to schedule a preliminary diagnostic and estimate.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-5">
        <a asp-page="/scheduling" class="btn btn-primary">Book an appointment now</a>
    </div>
</body>

