@page
@model total_test_1.Models.Schedule.Appointment
@{
}

<div>
    <h2>@Model.Customer.FirstName</h2>
    <h2>@Model.Customer.LastName</h2>
    <h2>@Model.Customer.PhoneNumber</h2>
    <h2>@Model.Customer.Email</h2>
</div>

<a></a>