@page
@model total_test_1.Pages.FormsModel
@{
    ViewData["Title"] = "Forms Page";
}

<body>
    
    <div class="text-center">
        <h1 class="display-2">Insurance Form</h1>
    </div>

    <div class="containter mt-5">
        <div class="col justify-content-center text-center">

            <div class="">
                <!--<p>Lorem Ipsum Placeholder Text Paragraph Positioned Below Insurance Form Header & Above Form Download Link</p>-->
            </div>
            <div class="">
                <h3>Form: <a href="Assets\Vehicle_Insurance_Verification_Form.png" download="">Download Here</a></h3>
            </div>
        
        </div>
    </div>

</body>
