@page
@model total_test_1.Pages.FormsModel
@{
    ViewData["Title"] = "Forms Page";
}


    <body class="background-color text-color">
    
       <div class="text-center">
          <h1 class="display-2">Insurance Form</h1>
       </div>

        <div class="containter mt-5">
            <div class="col justify-content-center text-center">

                <div class="">
                  <p>Scott's Auto insurance verification documents can be found in the first link below and are required to be filled out by the recepiant and a valid vehicle insurance representative.
                     The completed form can then be submitted through email through the second link, or handed over in-person at Scott's Auto'</p>
                </div>
                <div class="">
                    <h3>Form: <a href="Assets\Vehicle_Insurance_Verification_Form.png" download="">Download Here</a></h3>
                    <h3>Email to: <a href="mailto:admin@thesite.com">admin@thesite.com</a></h3>
                </div>
        
            </div>
        </div>
    </body>