@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hunter changed the background to light blue</h1>
    <p>I also changed this</p>
</div>
