@* 
    To allow authenticaiton to work, install:

Microsoft.EntityFramworkCore.SqlServer
Microsoft.EntityFramworkCore.Tools

Install these using the NuGet Package Manager.
*@

@page
@model total_test_1.Pages.LoginModel
@{
    ViewData["Title"] = "Login page";
}
<div class="text-center">
    <h1 class="display-5">Login</h1><br>
    <label>Username:</label>
    <input /><br><br>
    <label>Password:</label>
    <input /><br><br>
    <input type="submit" value="Submit"/>
</div>
