@* 
    To allow authenticaiton to work, install:

Microsoft.EntityFramworkCore.SqlServer
Microsoft.EntityFramworkCore.Tools

Install these using the NuGet Package Manager.
*@

@page
@model total_test_1.Pages.LoginModel
@{
    ViewData["Title"] = "Login page";
 
    string test = LoginModel.loginClicked();
}
<script>

        $('.submitButton').click(function () {
            $('#testid').text("worked");
            testid.text = "test"

    }
</script>
<div class="text-center">
    <h1 class="display-5">Login</h1><br>
    <label id="testid">@test</label>
    <input id="username"/><br><br>
    <label>Password:</label>
    <input id="password"/><br><br>
    <input CssClass="submitButton" type="submit" value="Submit" onclick="@Response.Redirect("https://localhost:7091/Collision")" />
</div>
