@page
@model PaintingModel
@{
    ViewData["Title"] = "Painting Page";
}


<h1>Painting Page </h1>


<body>
    <div class="text-center">
        <h1 class="display-2">Painting</h1>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class=" col-md-4 mb-4">
                <div class="card">
                    <img src="Assets/Touchups.png" class="card-img-top" alt="Touchup image" >
                    <div class="card-body">
                        <h5 class="card-title">Touchup</h5>
                        <p class="card-text">
                            Got a little scratch or maybe some sun damage? Well that is no issue we can fix that right up and make your car look pristine again.
                        </p>
                    </div>
                </div>
            </div>
        

            <div class="col-md-4 mb-4" >
                <div class="card">
                    <img src="Assets/before-after-color-change-wrap.jpg" class="card-img-top" alt="Wraped car image">
                    <div class="card-body">
                        <h5 class="card-title">Wraps / Painting</h5>
                        <p class="card-text">
                            Thinking of changing how your car's looks but don't want it to be permanent? Well we got you covered with our basic wrapping servious where you can choose any color of your liking.
                            If you would like something permanent we can also do that just tell us your color you want.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="Assets/CustomWrap.jpg" class="card-img-top" alt="Custom wrapped car image" >
                    <div class="card-body">
                        <h5 class="card-title">Custom Wraps / Painting</h5>
                        <p class="card-text">
                            Do you want to promote your buisness with a custom wrap? You can send us what you want on the wrap and we can get it made and put on your car to help promote your buisness.
                            We also do full custom paint jobs to make your car's look be unique and stylish.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="text-center mt-5">
        <a href="#" class="btn btn-primary">Book an appointment now</a>
    </div>
</body>