@page
@model total_test_1.Pages.ReviewsModel
@{
    ViewData["Title"] = "Reviews";
}

<h1>Reviews Page</h1>
<div width="auto">
    <div style="height:auto;width:auto;overflow:scroll;overflow-x:hidden;margin-left:auto;margin-right:auto;border:1px solid black; ">
        <h2>Tristan H.</h2>
        <h2>4/5</h2>
         <p>
            When most places said that they wouldnt be able to fix my car after I got t-bones Scotts repair was the only place to take my car in.
            They showed me the price for all the parts after inspection and showed me their fee for working on the car. They got it done
            quick and had me back to driving my car within a few weeks.
        </p>


        <h2> Jake P.</h2>
        <h2> 4/5</h2>
        <p>Very timly and professional while getting my bumper fixed up.</p>

        <h2>Henry J.</h2>
        <h2> 5/5</h2>
        <p>
            After having years of sun damage on my F-150s paint I decided to get it fixed up. When I came to Scotts AutoBody I ended up getting a lot of information
            on the diffrent ways I could go about fixing my paint wether it was a wrap or a paint touchup. I decided to go with just a normal paint touchup and
            the car came out looking brand new again. Would reccomend everyone comes here.
        </p>

        <h2>Cooper L.</h2>
        <h2>4.5/5</h2>
        <p>Got a new wrap finished here and it has held up for a few years now!</p>

        <h2>Kyle C.</h2>
        <h2>5/5</h2>
        <p>Got my trunk fixed after being hit and also got a new wrap to make my car look really unique.</p>


        <h2>Terry A.</h2>
        <h2>5/5</h2>
        <p>They were able to get my perfect custom wrap for cheaper than most shops in the area were going to charge me.</p>
    </div>
</div>
<!-- Reviews Form -->
<form asp-action="Add" method="post">
    <div class="row">
        <div class="starrating">
            <p class="stars">
                <label class="myrating">0</label>
                <span>
                    <a class="star-1" href="#">1</a>
                    <a class="star-2" href="#">2</a>
                    <a class="star-3" href="#">3</a>
                    <a class="star-4" href="#">4</a>
                    <a class="star-5" href="#">5</a>
                </span>
            </p>
            <script>
                $('.stars a').on('click', function () {
                    $('.stars span, .stars a').removeClass('active');

                    $(this).addClass('active');
                    $('.stars span').addClass('active');
                    $('.myrating').html($(this).text());
                });
            </script>
        </div>
        <div class="col">
            <input type="text" name="firstName" class="form-control" placeholder="First name" aria-label="First name" required>
        </div>
        <div class="col">
            <input type="text" name="lastName" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
        <!-- Text box -->
        <div>
            <label for="reviewText" class="form-label"></label>
            <textarea name="reviewText" class="form-control" placeholder="Write review here" id="reviewText" style="height: 100px"></textarea>
        </div>
        <!-- Button -->
        <div class="text-center mt-5">
            <button type="submit" class="btn btn-primary" style="width: 40%">Submit</button> 
        </div>
    </div>
</form> 
