@page
@model total_test_1.Pages.ReviewsModel
@{
    ViewData["Title"] = "Reviews";
}

<h1>Reviews Page</h1>

<!-- Reviews Form -->
<form asp-action="Add" method="post">
    <div class="row">
        <div class="col">
            <input type="text" name="firstName" class="form-control" placeholder="First name" aria-label="First name" required>
        </div>
        <div class="col">
            <input type="text" name="lastName" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
        <!-- Text box -->
        <div>
            <label for="reviewText" class="form-label"></label>
            <textarea name="reviewText" class="form-control" placeholder="Write review here" id="reviewText" style="height: 100px"></textarea>
        </div>
        <!-- Button -->
        <div class="text-center mt-5">
            <button type="submit" class="btn btn-primary" style="width: 40%">Submit</button> 
        </div>
    </div>
</form> 
